<p>
  <span>
    
  </span>
  {{description}}
</p>

<p>
  <span>
    Author: 
  </span>
  {{name}}
</p>
<p>
  <span>
    Correspondencia electronica:
  </span>
  {{email}}
</p>
<p>
  <span>
    💻💼: 
  </span>
  <a href="{{url}}">Repositorio de GITHUB</a>
</p>